.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.cell.list
{
  padding-left: 25px;
  border-left-width: 0px;
}

.chat{
  border-color: blue;
  border-style: solid;
  padding-left: 0%;
}

#chat-page{
  height: 800px;
}

#dash-img{
  text-align: center;
}

#chat-div{
  width: 400px;
  border-color: blue;
  border-style: solid;
  height: 400px;
   
}

#chat-content{
  height: 80%;
  background-color: #61dafb;
  overflow: scroll;
  max-height: 400px;
  display: flex;
  flex-direction: column-reverse
}

#chat-input{
  height: 20%;
}

#chat-input-field{
  width: 80%;
}



#submit-chat{
  margin-right: 0px;
  width: 20%;
  height: 100%;
}

#chat-modal-actions{
  height: 10%
}

#chat-modal{
  overflow: auto;
}
