body{
  background-color: #daa2ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.cell.list
{
  padding-left: 25px;
  border-left-width: 0px;
}

.chat{
  border-color: blue;
  border-style: solid;
  padding-left: 0%;
}

#chat-page{
  height: 800px;
}

#dash-img{
  margin-left: 30%;
  display: block;
}

#chat-div{
  width: 400px;
  border-color: blue;
  border-style: solid;
  height: 400px;
   
}

#chat-content{
  height: 80%;
  background-color: #61dafb;
  overflow: scroll;
  max-height: 400px;
  display: flex;
  flex-direction: column-reverse
}

#chat-input{
  height: 20%;
}

#chat-input-field{
  width: 80%;
}



#submit-chat{
  margin-right: 0px;
  width: 20%;
  height: 100%;
}

#chat-modal-actions{
  height: 10%
}

#chat-modal{
  overflow: auto;
}

#landing-logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#landing-container{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('./images/mccawBccaw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 90vh;
  padding-top: 20%;
}

#nav-main{
  margin-bottom: 0px;
  border-radius: 0px;
  border-bottom: 3px solid #9900ff;
  
}

#landing-content{
  width: 15%;
  background-color: white;
  height: 35%;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #000000, 0 1px 1px 0 #000000, 4px 4px 10px 0 #750085;
  background-color: #eed4ff;

}

.footer {
  border: 1px solid#DCDCDC;
  box-shadow: 0 0 0 3px #9900ff, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #1b1c1d;
  display: flex;
  align-items: center;
  justify-content:center;
  position: absolute;
}

.center {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.icons {
  align-self: center;
}

h4#footer-h4{
  color: white;
}

#nav-logo{
  border-radius: 30px;
  background-color: white;
  padding-left: 1px;
  margin-left: 2px;
}

#main-dash-grid{
  padding-top: 0px;
}

#dash-sidebar{
  padding-left: 0%;
  margin-left: 1%;
}

#left-column{
  margin-top: 0px;
  background-color: black;
}



